body {
    background-color: blue;
  }
  body {
    color: white;
  }
  h {
    color: white;
    font-size: 10px;
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  
  }
  h1 {
    color: white;
    font-size: 25px;
    font-family: Arial, sans-serif, sans-serif;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }
  hr {
    line-height: 0px;
    margin-top: 0px;
  }
  p1 {
    color: white;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    text-align: left;
    font-weight: bold;
    line-height: 50px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }
  ul {
    list-style-type: square;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    line-height: 35px;
  }
  ul2 {
    list-style-type: square;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    line-height: 50px;
  }
  ul3 {
    list-style-type: square; 
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    line-height: 50px;
  }
  hr {
    border: none;
    height: 2px;
    background-color: white;
    margin: 40px 0; 
  }
  p2 {
    color: white;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    text-align: left;
    font-weight: bold;
    line-height: 10px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }
  p3 {
    color: white;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    text-align: left;
    font-weight: bold;
    line-height: 10px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }
  .bouncy-text {
    display: inline-block;
    color: white;
    font-size: 20vw;
    animation: bounceScale 1s infinite ease-in-out;
  }
  
  @keyframes bounceScale {
    0%, 100% {
      transform: translateY(0) scale(1);
    }
    50% {
      transform: translateY(-10px) scale(1.2);
    }
  }


    body {
      color: white;
    }
    a {
      color: white;
      text-decoration: none; /* optional: removes underline */
    }
    
    a:hover {
      text-decoration: underline; /* optional: add underline on hover */
    }